.item{
    text-align: center;
    -webkit-flex: 3 1 100px;
    -ms-flex:  3 1 100px;
    flex:  0 1 100px;
    padding: 20px;
    box-shadow: #ccc;
    font-size: 18px;
    color: aliceblue;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    list-style-type: none;
    text-decoration: none;
}
.active{
    color: #C8643F;
}