.App {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: -webkit-linear-gradient(left, #00b7ff, white) no-repeat center center fixed; /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background: -moz-linear-gradient(left, #00b7ff, white)no-repeat center center fixed; /* Firefox 3.6-15 */
    background: -o-linear-gradient(left, #00b7ff, white) no-repeat center center fixed;
    background: linear-gradient(to bottom, #00b7ff, white) no-repeat center center fixed;
    width: 100vw;
    height: 100vh;
}